$primary:dodgerblue;
$secondary: #7f00d3;

$light:#ffffff;
$light-1:#f8fafc;
$light-2:#f1f5f9;
$light-3:#e2e8f0;


$dark:#0f172a;
$dark-1:#111827;


$g:#f3f4f6;
$g1:#e5e7eb;
$g2:#d1d5db;
$g3:#9ca3af;
$g4: #6b7280;
$g5: #4b5563;
$g6: #374151;
